<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Users</title>
</head>
<body>
<h3>ID:</h3>
<p th:text="${user.getId()}">VALUE</p>
<h3>Name:</h3>
<p th:text="${user.getName()}">VALUE</p>
<h3>Lastname:</h3>
<p th:text="${user.getLastName()}">VALUE</p>
<h3>Age:</h3>
<p th:text="${user.getAge()}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">UPDATE</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="DELETE"/>
</form>
</body>
</html>